<style>
    body{
        background-color: #00c312;
    }
    h1{
        margin: 255px auto;
    width: 200px;
    font-size: 96px;
    font-family: monospace;
    color: #00ffcf;
    }
</style>
<h1 id="ikk"><span id="num">0</span>+</h1>


<button onclick="clcik()">clcik</button>

<script>
    var num = document.getElementById("num");
    let e = 0;
    function clcik(){
        if(num.innerHTML <= 99){
             num.innerHTML = parseInt(num.innerHTML) + parseInt(1);
        }
        else{
            // console.log("red");
        }

      
    }
    if(num.innerHTML <= 99){
         setInterval(e=()=>{
        clcik()
    }, 50)
    }
   
</script>